<div id="<%= dom_id donation %>">
  <p>
    <strong>Donate date:</strong>
    <%= donation.donate_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= donation.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= donation.amount %>
  </p>

</div>
